body, html {
    height: 100%;
    width: 100%;
}

body {
    background: url("images/closer.jpg") repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', cursive;
}

h1, h2, h3, h4, h5, h6, p, span, b, small, strong {
    font-family: inherit;
}

h1 {
    font-size: 68px;
    letter-spacing: 2px;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.callout {
    margin-bottom: 30px;
    animation: fadeInDown .55s .25s backwards;
}

.description {
    text-transform: capitalize;
    color: #880808;
    animation: fadeInDown .5s .65s backwards;
}

.timer {
    font-size: 45px;
    padding: 20px 0 0;
    text-shadow: 2px 2px rgba(250, 250, 250, .8);
    animation: fadeInUp .45s .95s backwards;
}

.numeric {
    font-size: 67px;
}

.days {
    color: #91218c;
}

.hours {
    color: #637116;
}

.minutes {
    color: #5f4539;
}

.seconds {
    color: #3145b1;
}

.bumping {
    animation: bumping 1s .35s infinite;
    animation-fill-mode: both;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-25px);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(35px);
    }
}

@keyframes bumping {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
@-webkit-keyframes bumping {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
@-moz-keyframes bumping {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
@-ms-keyframes bumping {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 580px) {
    body {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .callout {
        font-size: 55px;
        letter-spacing: 1px !important;
    }

    .timer {
        font-size: 28px;
        max-width: 76%;
        white-space: pre-line;
        word-wrap: break-word;
        line-height: 35px;
    }

    .numeric {
        font-size: 34px;
    }
}